.grey-box {
  /* Dimensions & Background */
  height: 150px;
  width: 300px;
  background-color: grey;
  
  /* Border */
  border: 5px dotted black;
  
  /* Margins (Top Right Bottom Left) */
  margin-top: 20px;
  margin-right: 1em;
  margin-bottom: 40px;
  margin-left: 2em;
  
  /* Padding on all sides */
  padding: 1em;
}